@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">All Games</h1>
    <table class="table table-striped">
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Rating</th>
            <th>Release Date</th>
        </tr>
        @{
            foreach(Game g in ViewBag.AllGames)
            {
                <tr>
                    <td><a href="view/@g.GameId">@g.Title</a></td>
                    <td>$@g.Price</td>
                    <td>@g.Rating</td>
                    <td>@g.ReleaseDate</td>
                </tr>
            }
        }
    </table>
</div>
