<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Howdy from Form!</h1>
    <form action="sendData" method="post">
        <label>Text</label>
        <input type="text" name="TextField"><br>
        <label>Number</label>
        <input type="number" name="NumberField">
        <button type="submit">Submit</button>
    </form>
</body>
</html>