@model Pet //ViewModel allows you to access the models attributes and use them on the form.

<div>
    <h1>Tell me about your pet!</h1>

    <form action="Add" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input asp-for="Name" class="form-control"><br>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="name">Species</label>
            <input asp-for="Species" class="form-control"><br>
            <span asp-validation-for="Species" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="name">Age</label>
            <input asp-for="Age" class="form-control"><br>
            <span asp-validation-for="Age" class="text-danger"></span>
        </div>
        <input type="submit" value="submit" class="btn btn-primary">
    </form><br>
</div>