@{
    ViewData["Title"] = "Home Page";
}

@model User;

<div class="row">
    <div class="col-6">
        <h1>Register</h1>
        <form action="register" method="post">
            <div class="form-group">
                <label for="Name">Name</label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Email">Email</label>
                <input asp-for="Email" class="form-control">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Password">Password</label>
                <input asp-for="Password" class="form-control">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Confirm">Confirm Password</label>
                <input asp-for="Confirm" class="form-control">
                <span asp-validation-for="Confirm" class="text-danger"></span>
            </div>
            <input type="submit" value="Register" class="btn btn-success">
        </form>
    </div>
    <div class="col-6">
        <h1>Login</h1>
        <partial name="_LoginPartial" />
    </div>
</div>
